%aside.app-banner
  .app-banner-pc
    .app-banner-pc-inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .app-banner-icon.clearfix
        %figure
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?4069491723", width: "50"
        %ul.clearfix
          %li
            = link_to "#", target: "_blank" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4069491723", height: "29", width: "98"
          %li
            = link_to "#", target: "_blank" do
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4069491723", height: "29", width: "97"
        %a.right-icon
          %figure
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?4069491723", height: "230", width: "230"
%footer.footer
  %nav.clearfix
    .footer__cell.short
      %h2.footer__cell__head メルカリについて
      %ul.footer__cell__menu
        %li.menu__list
          = link_to "会社概要", "#", target: "_blank"
        %li.menu__list
          = link_to "採用情報", "#", target: "_blank"
        %li.menu__list
          = link_to "プレスリリース", "#", target: "_blank"
        %li.menu__list
          = link_to "公式ブログ", "#", target: "_blank"
        %li.menu__list
          = link_to "メルカリロゴ利用ガイドライン", "#", target: "_blank"
        %li.menu__social-link
          = link_to "#", target: "_blank" do
            %i.fab.fa-twitter.menu__social-link__icon-twitter
          = link_to "#", target: "_blank" do
            %i.fab.fa-facebook-square.menu__social-link__icon-facebook
    .footer__cell.short
      %h2.footer__cell__head ヘルプ＆ガイド
      %ul.footer__cell__menu
        %li.menu__list
          = link_to "メルカリガイド", "#", target: "_blank"
        %li.menu__list
          = link_to "らくらくメルカリ便", "#", target: "_blank"
        %li.menu__list
          = link_to "ゆうゆうメルカリ便", "#", target: "_blank"
        %li.menu__list
          = link_to "大型メルカリ便", "#", target: "_blank"
        %li.menu__list
          = link_to "車体取引ガイド", "#", target: "_blank"
        %li.menu__list
          = link_to "メルカリあんしん・あんぜん宣言！", "#", target: "_blank"
        %li.menu__list
          = link_to "偽ブランド品撲滅への取り組み", "#", target: "_blank"
        %li.menu__list
          = link_to "メルカリボックス", "#", target: "_blank"
    .footer__cell
      %h2.footer__cell__head プライバシーと利用規約
      %ul.footer__cell__menu
        %li.menu__list
          = link_to "プライバシーポリシー", "#", target: "_blank"
        %li.menu__list
          = link_to "メルカリ利用規約", "#", target: "_blank"
        %li.menu__list
          = link_to "あんしんスマホサポート制度に関する利用特約", "#", target: "_blank"
        %li.menu__list
          = link_to "コンプライアンスポリシー", "#", target: "_blank"
    .footer__wide-cell
      %ul.wide-cell__menu
        %li.menu__list
          = link_to "個人データの安全管理に係る基本方針", "#", target: "_blank"
        %li.menu__list
          = link_to "特定商取引に関する表記", "#", target: "_blank"
        %li.menu__list
          = link_to "資金決済法に基づく表示", "#", target: "_blank"
        %li.menu__list
          = link_to "法令遵守と犯罪防止のために", "#", target: "_blank"
        %li.menu__list
          = link_to "返品・返金ポリシー", "#", target: "_blank"
    .footer__cell.short
      %h2.footer__cell__head 国
      %ul.footer__cell__menu
        %li.menu__list
          = link_to "日本", "#"
        %li.menu__list
          = link_to "United States", "#"
  .footer-bottom
    %span.footer-bottom__logo
      = link_to "#", class: "footer-logo" do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?1612736639", alt: "mercari", height: "33", width: "124"
    %span.footer-bottom__copyright
      %small ©2019 Mercari
= link_to new_item_path, class: "footer-sell-btn" do
  .footer-sell-btn__div 出品
  %i.fas.fa-camera.footer-sell-btn__icon-camera
