= render partial: 'header'
%main
  = render partial: 'side-bar'
  .right-content
    %section.right-content-top
      %h2.right-content-top__head 支払い方法
    %section.right-content-middle
      %h3.right-content-middle__head
        クレジットカード一覧
      .right-content-middle__btn
        = link_to addcard_users_path, class: "" do
          支払い方法
      .right-content-bottom
        = link_to "#", target: "_blank" do
          %span 支払い方法について
= render partial: 'footer'
