= render partial: 'header'
- breadcrumb :logout
= render "layouts/breadcrumbs"
%main
  = render partial: 'side-bar'
  .user-main
    .user-main-inner
      = link_to 'ログアウト', "/users/sign_out", method: :delete
= render partial: 'footer'
