.single-container.sign-up__addresses
  = render partial: 'single-header'
  %main.single-main.signup-page__header
    %section.single-main__container
      %h2.single-main__container__h2 支払い方法
      %form.single-main__container__form{action: "#", method: "", novalidate: "novalidate"}
        .single-main__container__form__content
          .form-group
            %label{for: "payment_card_no"} カード番号
            %span.form-group__require 必須
            %input.form-group__input{id: "payment_card_no",name: "card_number", placeholder: "半角数字のみ", type: "text"}
            %ul.form-group__ul
              %li
                = image_tag "visa.svg", size: "49x20"
              %li
                = image_tag "master-card.svg", size: "34x20"
              %li
                = image_tag "saison-card.svg", size: "30x20"
              %li
                = image_tag "jcb.svg", size: "32x20"
              %li
                = image_tag "american_express.svg", size: "21x20"
              %li
                = image_tag "dinersclub.svg", size: "32x20"
              %li
                = image_tag "discover.svg", size: "32x20"
          .form-group
            %label{for: "limit"} 有効期限
            %span.form-group__require 必須
            %br
            .select-wrap
              %select.select-wrap__default{name: "expiration_month"}
                %option{value: "1"} 01
                %option{value: "2"} 02
                %option{value: "3"} 03
                %option{value: "4"} 04
                %option{value: "5"} 05
                %option{value: "6"} 06
                %option{value: "7"} 07
                %option{value: "8"} 08
                %option{value: "9"} 09
                %option{value: "10"} 10
                %option{value: "11"} 11
                %option{value: "12"} 12
              %i.fas.fa-chevron-down
            %span
              月
            %ul
            .select-wrap
              %select.select-wrap__default{name: "expiration_year"}
                %option{value: "1"} 19
                %option{value: "2"} 20
                %option{value: "3"} 21
                %option{value: "4"} 22
                %option{value: "5"} 23
                %option{value: "6"} 24
                %option{value: "7"} 25
                %option{value: "8"} 26
                %option{value: "9"} 27
                %option{value: "10"} 28
                %option{value: "11"} 29
              %i.fas.fa-chevron-down
            %span
              年
          .form-group
            %label{for: "security_code"} セキュリティコード
            %span.form-group__require 必須
            %input.form-group__input{id: "security_code", name: "security_code", placeholder: "カード背面4桁もしくは3桁の番号", type: "text"}/
            .form-group__text
              %span.form-ghroup__info-question>
                ？
              カード裏面の番号とは？
        .single-main__container__form__content
          %button.single-main__container__form__content__btn{type: "submit"} 次へ進む
  = render partial: 'single-footer'