.single-container.signin-container
  = render partial: 'single-header'
  %main.single-main
    .login-panel
      .login-panel__no-account
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", "/users/signup"
      .login-panel__form-inner
        %button.single-main__container__inner__content__btn.btn-facebook
          %i.fab.fa-facebook-square
          = link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path
        %button.single-main__container__inner__content__btn.btn-google= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-panel__form-inner
          .form-group
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-group__input"
          .form-group
            = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "form-group__input"
          .form-group
            = image_tag "20190202205039.png", style: "width:100%;"
          = f.submit "ログイン", class: "login-panel__form-inner__submit"
          = link_to "パスワードをお忘れの方", "#"
  = render partial: 'single-footer'
