<div class="single-container signin-container">
  <%= render partial: 'single-header' %>
  <main class="single-main">
    <div class="login-panel">
      <div class="login-panel__no-account">
        <p>アカウントをお持ちでない方はこちら</p>
        <a href="/users/signup">新規会員登録</a>
      </div>
      <div class="login-panel__form-inner">
        <button class="single-main__container__inner__content__btn btn-facebook"><i class="fab fa-facebook-square"></i>Facebookで登録</button>
        <button class="single-main__container__inner__content__btn btn-google">Googleで登録</button>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="login-panel__form-inner">
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-group__input" %>
            <%# <input type="email" name="email" placeholder="メールアドレス" class="form-group__input"> %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "form-group__input" %>
            <%# <input type="password" name="password" placeholder="パスワード" class="form-group__input"> %>
          </div>
          <div class="form-group">
            ロボットではないのやつ入れる
          </div>
          <%= f.submit "ログイン", class: "login-panel__form-inner__submit" %>
          <%# <button class="login-panel__form-inner__submit">ログイン</button> %>
          <a href="#">パスワードをお忘れの方</a>
        </div>
      <% end %>
    </div>
  </main>
  <%= render partial: 'single-footer' %>
</div>
