.single-container
  = render partial: 'single-header'
  %main.single-main
    %p
      = flash[:notice]
    %section.single-main__container
      .sell-container
        .sell-container__inner
          %h2.sell-container__inner__h2 商品情報を入力
          = form_for @item,html: {class: "sell-container__inner__form"} do |f|
            .sell-container__inner__form__uploader-box
              %h3.sell-container__inner__form__uploader-box__h3
                出品画像
                %span 必須
              %p 最大10枚までアップロードできます
              .sell-container__inner__form__uploader-box__container.clearfix
                .image-box
                  = f.fields_for :item_images do |i|
                    .hidden-box{data: { index: i.index }}
                      = i.check_box :_destroy, data: { index: i.index }, class: 'hidden-destroy js-destroy'
                      = i.file_field :image_url, data: { index: i.index }, class: 'file'
                  %ul.image-box-list.edit
                    - @item.item_images.each_with_index do |image,i|
                      %li.image-count.edit-image{data: {index: i}}
                        %figure
                          = image_tag image.image_url, class:"img#{i}"
                        %div
                          = label_tag :image, '', class: 'border' do
                            編集
                          %span{class: 'js-remove', data: { index: i }} 削除
                    = label_tag :image_url, class:'sell-container__inner__form__uploader-box__container__item js-label', for: "item_item_images_attributes_#{@item.item_images.length}_imageurl" do
                      = file_field_tag :image_url,data: {index: @item.item_images.length}, class:'file',name: "item[item_images_attributes][#{@item.item_images.length}][image_url]", id: "item_item_images_attributes_#{@item.item_images.length}_imageurl"
                      %pre
                        ドラッグアンドドロップ
                        またはクリックしてファイルをアップロード
            .sell-container__inner__form__content
              .sell__form-group
                = f.label :name do
                  商品名
                  %span 必須 
                %div
                  = f.text_field :name, placeholder: "商品名(必須 40文字まで)"
              .sell__form-group
                = f.label :description do
                  商品の説明
                  %span 必須
                = f.text_area :description, placeholder: "商品の説明(必須 1,000文字以内)(色、素材、重さ、定価、注意点など)例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
            .sell-container__inner__form__content.clearfix
              %h3.sell-container__inner__form__content__h3 商品の詳細
              .sell-container__inner__form__content__form-box
                .sell__form-group
                  = f.label :category_id do
                    カテゴリー
                    %span 必須
                  %div
                    .select-wrap
                      = f.select :category_id,[["---",""],["ベビー・キッズ","ベビー・キッズ"]],{},class:'select-wrap__default' 
                      %i.fas.fa-chevron-down
                    .select-wrap
                      = f.select :category_id, [["---",""],["トップス","トップス"],["ジャケット/アウター","ジャケット/アウター"],["パンツ","アンドゥー"]],{},class:'select-wrap__default'
                      %i.fas.fa-chevron-down
                    .select-wrap
                      = f.select :category_id, [["---",""],["Tシャツ/カットソー(半袖/袖なし)","Tシャツ/カットソー(半袖/袖なし)"],["Tシャツ/カットソー(七分/長袖)","Tシャツ/カットソー(七分/長袖)"],["シャツ/ブラウス(半袖/袖なし)","シャツ/ブラウス(半袖/袖なし)"]],{},class:'select-wrap__default'
                      %i.fas.fa-chevron-down
                .sell__form-group
                  = f.label :condition do
                    商品の状態
                    %span 必須
                  .select-wrap
                    = f.select :condition, [["---",""],["新品、未使用","新品、未使用"],["未使用に近い","未使用に近い"],["目立った傷や汚れなし","目立った傷や汚れなし"]],{},class:'select-wrap__default'
                    %i.fas.fa-chevron-down
            .sell-container__inner__form__content.clearfix
              %h3.sell-container__inner__form__content__h3 配送について
              =link_to "?", '#', class: "sell-container__inner__form__content__question", target: "_blanck"
              .sell-container__inner__form__content__form-box
                .sell__form-group 
                  = f.label :delivery_fee do
                    配送料の負担
                    %span 必須
                  .select-wrap
                    = f.select :delivery_fee, [["---",""],["送料込み(出品者負担)","送料込み(出品者負担)"],["着払い(購入者負担)","着払い(購入者負担)"]],{},class:'select-wrap__default'
                    %i.fas.fa-chevron-down
                .sell__form-group
                  = f.label :area do
                    発送元の地域
                    %span 必須
                  .select-wrap
                    = f.select :area, [["---",""],["北海道","北海道"],["青森県","青森県"]],{},class:'select-wrap__default'
                    %i.fas.fa-chevron-down
                .sell__form-group
                  = f.label :delivery_date do
                    発送までの日数
                    %span 必須
                  .select-wrap
                    = f.select :delivery_date, [["---",""],["1~2日で発送","1~2日で発送"],["2~3日で発送","2~3日で発送"]],{},class:"select-wrap__default"
                    %i.fas.fa-chevron-down
            .sell-container__inner__form__content.clearfix
              %h3.sell-container__inner__form__content__h3 販売価格(300〜9,999,999)
              =link_to "?", '#', class: "sell-container__inner__form__content__question", target: "_blanck"
              .sell-container__inner__form__content__form-box
                %ul.sell-container__inner__form__content__form-box__ul
                  %li.sell__form-group
                    .clearfix
                      = f.label :price, class:'l-left' do
                        価格
                        %span 必須
                      .l-right
                        ¥
                        %div
                          = f.text_field :price, class: 'l-right__input', placeholder: "例)300"
                  %li.clearfix
                    .l-left 販売手数料 (10%)
                    .l-right#fee
                  %li.clearfix.bold
                    .l-left 販売利益
                    .l-right#profit
            .sell-container__inner__form__content.sell-btn-box
              %div
                %p
                  =link_to "禁止されている出品", '#'
                  、
                  =link_to "行為", '#'
                  を必ずご確認ください。
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  =link_to "偽ブランドの販売", '#'
                  は犯罪であり処罰される可能性があります。
                %p
                  また、出品をもちまして
                  =link_to "加盟店規約", '#'
                  に同意したことになります。
              =f.submit class: 'sell-btn-box__btn',value:'出品する'
              =link_to "もどる", '#', class: "sell-btn-box__gray-btn"
  = render partial: 'single-footer'