= render partial: 'header'
%section.item-box
  %h1.item-box__h1 ワンピース
  .item-box__content.clearfix
    .item-box__content__img
      .item-slide_banner
        = image_tag "/assets/m73628829419_1.jpg", class: "item-slide_banner__main-image"
      .item-slide_banner-small
        = image_tag "/assets/m73628829419_1.jpg", class: "item-slide_banner-small__sub"
        = image_tag "/assets/m73628829419_1.jpg", class: "item-slide_banner-small__sub"
        = image_tag "/assets/m73628829419_1.jpg", class: "item-slide_banner-small__sub"
        = image_tag "/assets/m73628829419_1.jpg", class: "item-slide_banner-small__sub"
        = image_tag "/assets/m73628829419_1.jpg", class: "item-slide_banner-small__sub"
    %table.item-box__content__table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to "名前", "#"
            %div
              .item-box__content__table__rating
                %i.fas.fa-laugh
                %span 5
              .item-box__content__table__rating
                %i.fas.fa-meh
                %span 4
              .item-box__content__table__rating
                %i.fas.fa-frown
                %span 0
        %tr
          %th カテゴリー
          %td
            = link_to "#" do
              %div 親カテゴリー
            = link_to "#" do
              .item-box__content__table__category
                %i.fas.fa-chevron-right>
                子カテゴリー
            = link_to "#" do
              .item-box__content__table__category
                %i.fas.fa-chevron-right>
                孫カテゴリー
        %tr
          %th ブランド
          %td
            = link_to "#" do
              %div ブランド名
        %tr
          %th 商品のサイズ
          %td M
        %tr
          %th 商品の状態
          %td 目立った傷なし
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td メルカリ便
        %tr
          %th 配送元地域
          %td
            = link_to "#" do
              %div 東京都
        %tr
          %th 発送日の目安
          %td 2〜3日で発送
  .item-box__price
    %span.item-box__price__price ¥ 3,000
    %span.item-box__price__tax (税込)
    %span.item-box__price__fee 送料込み
  %a.item-box__buy-btn
    購入画面に進む
  .item-box__description
    %p.item-box__description__inner
      ワンピースです。ご不明点があればコメントよろしくお願いいたします。
  .item-box__btn.clearfix
    .item-box__btn__left
      %button.item-box__btn__left__like{name: "like", type: "button"}
        %i.far.fa-heart
        %span いいね!
        %span.like-count 0
      = link_to "#", class: "item-box__btn__left__report clearfix" do
        %i.far.fa-flag
        %span 不適切な商品の報告
    .item-box__btn__right
      = link_to "#" do
        %i.fas.fa-lock
        %span あんしん・あんぜんへの取り組み
.item-message
  .item-message__container
    .item-message__container__inner
      %form.item-message__container__inner__message-form{action: "", method: ""}
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.item-message__container__inner__message-form__textarea{name: "body", type: "text"}
        %button.item-message__container__inner__message-form__submit{type: "submit"}
          %span コメントする
%ul.item-prev-next.clearfix
  %li.item-prev-next__prev
    = link_to "#" do
      %i.fas.fa-chevron-left>
      ピアス
  %li.item-prev-next__next
    = link_to "#" do
      %i.fas.fa-chevron-right>
      シャツ
.item-sns
  %ul.item-sns__btn
    %li
      = link_to "#" do
        %i.fab.fa-facebook-square
    %li
      = link_to "#" do
        %i.fab.fa-twitter
    %li
      = link_to "#" do
        %i.fab.fa-pinterest
.item-relation
  %section.item-relation__items__container.clearfix
    %h2.item-relation__items__container__h2
      = link_to "〇〇さんのその他の出品", "#"
    .item-relation__items__container__content.clearfix
      = render partial: 'item2'
      = render partial: 'item2'
      = render partial: 'item2'
      = render partial: 'item2'
= render partial: 'footer'
