.single-container.sign-up__card
  = render partial: 'single-header'
  %main.single-main.signup-page__header
    %section.single-main__container
      %h2.single-main__container__h2 支払い方法
      = form_for @card, html: {class: "single-main__container__form"} do |f|
        .single-main__container__form__content
          .form-group
            = f.label :カード番号
            %span.form-group__require 必須
            = f.text_field :card_number, class: "form-group__input", id: "payment_card_no", placeholder: "半角数字のみ", autofocus: "true"
            - if @card.errors.messages[:card_number].present?
              - @card.errors.messages[:card_number].each do |message|
                %p.error= message
            %ul.form-group__ul
              %li
                = image_tag "visa.svg", size: "49x20"
              %li
                = image_tag "master-card.svg", size: "34x20"
              %li
                = image_tag "saison-card.svg", size: "30x20"
              %li
                = image_tag "jcb.svg", size: "32x20"
              %li
                = image_tag "american_express.svg", size: "21x20"
              %li
                = image_tag "dinersclub.svg", size: "32x20"
              %li
                = image_tag "discover.svg", size: "32x20"
          .form-group
            = f.label :有効期限
            %span.form-group__require 必須
            %br
            .select-wrap
              = f.select :expiration_month, Card.expiration_months.keys, {prompt: '--'}, class: "select-wrap__default"
              %i.fas.fa-chevron-down
            %span
              月
            - if @card.errors.messages[:expiration_month].present?
              - @card.errors.messages[:expiration_month].each do |message|
                %p.error= message
            .select-wrap
              = f.select :expiration_year, @years, {prompt: '--'}, class: "select-wrap__default"
              %i.fas.fa-chevron-down
            %span
              年
            - if @card.errors.messages[:expiration_year].present?
              - @card.errors.messages[:expiration_year].each do |message|
                %p.error= message
          .form-group
            = f.label :セキュリティコード
            %span.form-group__require 必須
            = f.text_field :security_code, class: "form-group__input", id: "security_code", placeholder: "カード背面4桁もしくは3桁の番号", autofocus: "true"
            - if @card.errors.messages[:security_code].present?
              - @card.errors.messages[:security_code].each do |message|
                %p.error= message
            .form-group__text
              %span.form-ghroup__info-question>
                ？
              カード裏面の番号とは？
        .single-main__container__form__content
          = f.submit "次へ進む", class: "single-main__container__form__content__btn"
  = render partial: 'single-footer'
