<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample52a</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-inner">
        <div class="header-top">
          <h1>
            <a href="###">
              <img href="assets/logo.svg">
            </a>
          </h1>
          <form>
            <input type="search" name="keyword" placeholder="何かお探しですか？" class="form-search">
            <i class="fas fa-search"></i>
          </form>
        </div>
        <div class="header-navi">
          <nav class="navi-left">
            <ul class="navi-left__section">
              <li>
                <h2>
                  <a href="###">
                    <i class="fas fa-list"></i>
                    カテゴリから探す
                  </a>
                </h2>
                <ul class="navi-left__parent-wrapper">
                  <li class="navi-left__parent-list">
                    <h3>
                      <a href="###">
                      レディース
                      </a>
                    </h3>
                    <ul class="navi-left__child-wrapper">
                      <li class="navi-left__child-list">
                        <a href="###">トップス</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">Tシャツ/カットソー(七分/長袖)</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">シャツ/ブラウス(七分/長袖)</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">ジャケット/アウター</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ノーカラージャケット</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">レザージャケット</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">パンツ</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ショートパンツ</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ハーフパンツ</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">スカート</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ひざ丈スカート</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">キュロット</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">ワンピース</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ひざ丈ワンピース</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">その他</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="navi-left__parent-list">
                    <h3>
                      <a href="###">
                      メンズ
                      </a>
                    </h3>
                    <ul>
                      <li class="navi-left__child-list">
                        <a href="###">トップス</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">Tシャツ/カットソー(七分/長袖)</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ポロシャツ</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">ジャケット/アウター</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ノーカラージャケット</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">レザージャケット</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">パンツ</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ワークパンツ/カーゴパンツ</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">チノパン</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">靴</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">サンダル</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">モカシン</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">バッグ</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">トートバッグ</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">リュック/バックパック</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="navi-left__parent-list">
                    <h3>
                      <a href="###">
                      ベビー・キッズ
                      </a>
                    </h3>
                    <ul>
                      <li class="navi-left__child-list">
                        <a href="###">ベビー服（女の子用）~95cm</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">アウター</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">スカート</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">ベビー服（男の子用）~95cm</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">アウター</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">おくるみ</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">ベビー服(男女兼用)~95cm</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">アウター</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">おくるみ</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">キッズ服（女の子用）100cm~</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ジャケット/上着</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">トップス(トレーナー)</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">キッズ服（男の子用）100cm~</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ジャケット/上着</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">トップス(トレーナー)</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                   <li class="navi-left__parent-list">
                    <h3>
                      <a href="###">
                      インテリア・住まい・小物
                      </a>
                    </h3>
                    <ul>
                      <li class="navi-left__child-list">
                        <a href="###">キッチン/食器</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">調理器具</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">弁当用品</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">ベッド/マットレス</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">シングルベッド</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ダブルベッド</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">ソファ/ソファベッド</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">シングルソファ</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">トリプルソファ</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">椅子/チェア</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">スツール</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ハイバックチェア</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">机/テーブル</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">カウンターテーブル</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">センターテーブル</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li> <li class="navi-left__parent-list">
                    <h3>
                      <a href="###">
                      本・音楽・ゲーム
                      </a>
                    </h3>
                    <ul>
                      <li class="navi-left__child-list">
                        <a href="###">本</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">人文/社会</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">地図/旅行ガイド</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">漫画</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">少年漫画</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">青年漫画</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">雑誌</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ファッション</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">趣味/スポーツ</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">CD</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">洋楽</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">クラシック</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">DVD/ブルーレイ</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">日本映画</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">TVドラマ</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li> <li class="navi-left__parent-list">
                    <h3>
                      <a href="###">
                      おもちゃ・ホビー・グッズ
                      </a>
                    </h3>
                    <ul>
                      <li class="navi-left__child-list">
                        <a href="###">おもちゃ</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ぬいぐるみ</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">模型/プラモデル</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">タレントグッズ</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ミュージーシャン</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">スポーツ選手</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">コミック/アニメグッズ</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">キーホルダー</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">カード</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">トレーディングカード</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">マジック:ザ・ギャザリング</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">プリパラ</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">フィギュア</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">マジック:ザ・ギャザリング</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">デュエルマスターズ</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li> <li class="navi-left__parent-list">
                    <h3>
                      <a href="###">
                      コスメ・香水：美容
                      </a>
                    </h3>
                    <ul>
                      <li class="navi-left__child-list">
                        <a href="###">ベースメイク</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">化粧下地</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">BBクリーム</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">メイクアップ</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">口紅</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">リップライナー</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">ネイルケア</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">カラージェル</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ネイルアート用品</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">香水</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">香水(男性用)</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ボディミスト</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">スキンケア／基礎化粧品</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">乳液/ミルク</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">フェイスクリーム</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li> <li class="navi-left__parent-list">
                    <h3>
                      <a href="###">
                      家電・スマホ・カメラ
                      </a>
                    </h3>
                    <ul>
                      <li class="navi-left__child-list">
                        <a href="###">スマートフォン/携帯電話</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">バッテリー/充電器</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">PHS本体</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">スマホアクセサリー</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">iPhone用ケース</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">イヤホンジャック</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">PC/タブレット</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ノートPC</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ディスプレイ</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">カメラ</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ビデオカメラ</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">レンズ(ズーム)</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">テレビ/映像機器</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">プロジェクター</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">DVDレコード</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li> <li class="navi-left__parent-list">
                    <h3>
                      <a href="###">
                      スポーツ・レジャー
                      </a>
                    </h3>
                    <ul>
                      <li class="navi-left__child-list">
                        <a href="###">ゴルフ</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ウエア(男性用)</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">バッグ</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">フィッシング</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">リール</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ウエア</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">自転車</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ウエア</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">アクセサリー</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">トレーニング／エクササイズ</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ウォーキング</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">トレーニング用品</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">野球</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">シューズ</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">バット</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                   <li class="navi-left__parent-list">
                    <h3>
                      <a href="###">
                      ハンドメイド
                      </a>
                    </h3>
                    <ul>
                      <li class="navi-left__child-list">
                        <a href="###">アクセサリー(女性用)</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">イヤリング</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ブレスレット</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">ファッション/ 小物</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">バッグ(男性用)</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">財布(男性用)</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">アクセサリー/時計</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">時計(女性用)</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">その他</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">日用品／インテリア</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">家具</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">アート/写真</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">趣味／おもちゃ</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">おもちゃ/人形</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">クラフト/布製品</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                   <li class="navi-left__parent-list">
                    <h3>
                      <a href="###">
                      チケット
                      </a>
                    </h3>
                    <ul>
                      <li class="navi-left__child-list">
                        <a href="###">音楽</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">女性アイドル</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">国内アーティスト</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">スポーツ</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">野球</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">格闘技/プロレス</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">演劇/芸能</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">演劇</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">落語</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">イベント</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">洋画</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">邦画</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">映画</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">美術館/博物館</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ゴルフ場</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                   <li class="navi-left__parent-list">
                    <h3>
                      <a href="###">
                      自動車・オートバイ
                      </a>
                    </h3>
                    <ul>
                      <li class="navi-left__child-list">
                        <a href="###">自動車本体</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">タイヤ</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">その他</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">自動車タイヤ/ホイール</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">タイヤ</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">その他</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">自動車パーツ</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ブレーキ</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ライト</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">自動車アクセサリー</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">カーナビ</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">車外アクセサリー</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">オートバイ車体</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                   <li class="navi-left__parent-list">
                    <h3>
                      <a href="###">
                      その他
                      </a>
                    </h3>
                    <ul>
                      <li class="navi-left__child-list">
                        <a href="###">まとめ売り</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">ペット用品</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">犬用品</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">魚用品/水草</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">食品</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">米</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">果物</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">飲料/酒</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">ソフトドリンク</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">茶</a></li>
                        </ul>
                      </li>
                      <li class="navi-left__child-list">
                        <a href="###">日用品/生活雑貨/旅行</a>
                        <ul class="navi-left__grandchild-wrapper">
                          <li class="navi-left__grandchild-list"><a href="###">すべて</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">日用品/生活雑貨</a></li>
                          <li class="navi-left__grandchild-list"><a href="###">旅行用品</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <h2>
                  <a href="###">
                    <i class="far fa-tag">
                    </i>
                    ブランドから探す
                  </a>
                </h2>  
                  <ul>
                    <li>
                      <h3>
                        <a href="###">シャネル</a>
                      </h3>
                    </li>
                    <li>
                      <h3>
                        <a href="###">ナイキ</a>
                      </h3>
                    </li>
                    <li>
                      <h3>
                        <a href="###">ルイヴィトン</a>
                      </h3>
                    </li>
                    <li>
                      <h3>
                        <a href="###">シュプリーム</a>
                      </h3>
                    </li>
                    <li>
                      <h3>
                        <a href="###">アディダス</a>
                      </h3>
                    </li>
                    <li>
                      <h3>
                        <a href="">ブランド一覧</a>
                      </h3>
                  <ul>
              </li>
            </ul>
          </nav>
          <div class="navi-right">
            <% if user_signed_in? %>
              <ul class="header-user__content">
                <li>
                  <a href="###">
                    <i class="far fa-bell"></i>
                    <span>お知らせ</span>
                    <div class="count">
                    </div>
                  </a>
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </li>
                <li>
                  <a href="###">
                    <i class="far fa-bell"></i>
                    <span>やることリスト</span>
                  </a>
                  <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>
                </li>
                <li>
                  <a href="###" class="header-user__menu">
                    <figure>
                      <div>
                        <img src="###">
                      </div>
                    </figure>
                      <span>マイページ</span>
                  </a>
                  <div class="header-user__menu-box">
                    <div class="header-user__menu-box-center">
                      <figure>
                        <div>
                          <img src="">
                        </div>
                        <figcaption>
                          <%# <%= current_user.name%>
                        </figcaption>
                      </figure>
                      <ul class="user-review">
                        <li>
                          <a href="###">
                            <%# 評価:<%= %> %>
                          </a>
                        </li>
                        <li>
                          <a href="###">
                            <%# 出品数<%= %> %>
                          </a>
                        </li>
                      </ul>
                      <ul class="user-sales__point">
                        <li>
                          <div class="user-sales__point-left">
                            売上金
                          </div>
                          <div class="user-sales__point-right">
                            <%# ¥<%= %> %>
                          </div>
                        </li>
                        <li>
                          <div class="user-sales__point-left">
                            ポイント
                          </div>
                          <div class="user-sales__point-right">
                            <%# P<%=%> %>
                          </div>
                        </li>
                      </ul>
                    </div>
                      <ul class="header-user__menu-list">
                        <li>
                          <a href="###" class="header-user__menu-list-item">
                            いいね！一覧
                          </a>
                        </li>
                        <li>
                          <a href="###" class="header-user__menu-list-item">
                            出品した商品-出品中
                          </a>
                        </li>
                        <li>
                          <a href="###" class="header-user__menu-list-item">
                            出品した商品-取引中
                          </a>
                        </li>
                        <li>
                          <a href="###" class="header-user__menu-list-item">
                            出品した商品-売却済み
                          </a>
                        </li>
                        <li>
                          <a href="###" class="header-user__menu-list-item">
                            購入した商品-取引中
                          </a>
                        </li>
                        <li>
                          <a href="###" class="header-user__menu-list-item">
                            購入した商品-過去の取引
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            <% else %>
              <ul class="header-user__login-menu">
                <li>
                  <a href="###" class="header-user__signup">新規会員登録</a>
                </li>
                <li>
                  <a href="###" class="header-user__lugin">ログイン</a>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class = “footer”>
 <nav class = “clearfix”>
   <div class = “footer__cell”>
     <h2 class = “footer__head”>メルカリについて</h2>
     <ul class = ‘menu’>
       <li class = ‘menu__list’><a href = “”>会社概要</a></li>
       <li class = ‘menu__list’><a href = “”>採用情報</a></li>
       <li class = ‘menu__list’><a href = “”>プレスリリース</a></li>
       <li class = ‘menu__list’><a href = “”>公式ブログ</a></li>
       <li class = ‘menu__list’><a href = “”>メルカリロゴ利用ガイドライン</a></li>
       <li class = ‘menu__social-link’>
         <a href = “” target = “”>
           <i class = “menu__social-link__icon-twitter”>::before</i>
         </a>
       </li>
       <li class = ‘menu__social-link’>
           <a href = “” target = “_blank”>
             <i class = “menu__social-link__icon-facebook”>::before</i>
           </a>
       </li>
     </ul>
   </div>
   <div class = “footer__cell”>
       <h2 class = “footer__head”>ヘルプ＆ガイド</h2>
       <ul class = ‘menu’>
         <li class = ‘menu__list’><a href = “”>メルカリガイド</a></li>
         <li class = ‘menu__list’><a href = “”>らくらくメルカリ便</a></li>
         <li class = ‘menu__list’><a href = “”>ゆうゆうメルカリ便</a></li>
         <li class = ‘menu__list’><a href = “”>大型メルカリ便</a></li>
         <li class = ‘menu__list’><a href = “”>車体取引ガイド</a></li>
         <li class = ‘menu__list’><a href = “”>メルカリあんしん・あんぜん宣言！</a></li>
         <li class = ‘menu__list’><a href = “”>偽ブランド品撲滅への取り組み</a></li>
         <li class = ‘menu__list’><a href = “”>メルカリボックス</a></li>
       </ul>
     </div>
     <div class = “wide-footer-cell”>
         <h2 class = “wide-footer-cell__head”>プライバシーと利用規約</h2>
         <div class = “wide-footer-cell__inner”>
         <ul class = ‘inner__menu’>
           <li class = ‘menu__list’><a href = “”>プライバシーポリシー</a></li>
           <li class = ‘menu__list’><a href = “”>メルカリ利用規約</a></li>
           <li class = ‘menu__list’><a href = “”>あんしんスマホサポート制度に関する利用特約</a></li>
           <li class = ‘menu__list’><a href = “”>コンプライアンスポリシー</a></li>
         </ul>
         </div>
         <div class = “wide-footer-cell__inner”>
         <ul class = ‘inner__menu’>
           <li class = ‘menu__list’><a href = “”>個人データの安全管理に係る基本方針</a></li>
           <li class = ‘menu__list’><a href = “”>特定商取引に関する表記</a></li>
           <li class = ‘menu__list’><a href = “”>資金決済法に基づく表示</a></li>
           <li class = ‘menu__list’><a href = “”>法令遵守と犯罪防止のために</a></li>
           <li class = ‘menu__list’><a href = “”>返品・返金ポリシー</a></li>
         </ul>
         </div>
     </div>
     <div class = “footer-cell-nav-lang”>
         <h2 class = “footer-cell-nav-lang__head”>国</h2>
         <ul>
           <li class = ‘footer-cell-nav-lang__list’><a href = “”>日本</a></li>
           <li class = ‘footer-cell-nav-lang__list’><a href = “”>United States</a></li>
         </ul>
     </div>
     ::after
     </nav>
     <div class = “footer-bottom”>
       <span class = “footer-bottom__logo”><a href = “” >
         <img src = “”>
       </a></span>
     <span class = “footer-copyright”>
<small>©︎2019 Mercari</small>
     </span>
     </div>
</footer>
 <a class = “footer-sell-btn” href = “”>
   <div>出品</div>
   <i class = “icon-camera”>
     ::before
   </i>
 </a>
  </body>
</html>
